sudo: false
jdk: oraclejdk8

language: android

android:
  components:
    # Using latest platform tools
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-28.0.3

    # The SDK version used to compile your project
    - android-28

    # Additional components
    - extra-google-google_play_services
    - extra-google-m2repository
    - extra-android-m2repository

#before_install:
#  - yes | sdkmanager "platforms;android-27"

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

script: ./gradlew test lint

deploy:
  - provider: script
    script: ./gradlew gitPublishPush
    skip_cleanup: true
    on:
      tags: true
  - provider: script
    script: ./gradlew gitPublishPush
    skip_cleanup: true
    on:
      branch: master

notifications:
  email: false
  slack:
    secure: qvapqTfI5kZEL6yagjLtrj2QvDl2RbSMFX3/WnM9BzzVYk7C1pvpUqdP+GYpGzG4I/hYnOXRnu93trlrV5Tr6zqWKUvSUe9SOoKFdE1WtmIl3/WVRj9LhQUB4jpfJOP0Gn9CqeH/QMFEyeWIxYE9sRTbNCS0fzz8VGznev0gPZGDnqJ7S5YwGdM4BFBxTsvAdrF/a031IEPTc0zjgBbWygLAupdGu5prz2h/TXzmYiKO6MfqzIsLKEUMHRtbSPZ7hiy9CEKUiaXPV+XAdN1txh4Z2VmFvm+RMjROL5lmQm06mwnVkks3Apft/9Wh22UvHvlWt6Pqjjx8fT6BTxYFjmx21DsIabew0FXW/RT3cxW0KnognJ/e7WL8iXB65e76xGN/WsYyLe0rOlV49KUNbNn+ig/kTYy8XcCPxWGiveE2V0Zn30hE9MLlznFUZztgIwUaaCP0oWcyXmKLn37wWOaTSD3WE78FccWM4Uf9TFOwzAMH6uCVjBFoVfwJpDCwpJzxIseOu+DTcY3QWStuPDkZSpjoab34pTVf7vsFo5Iqf1+1FMIeUxYV+h3B0Pu0l8aHgR8EKif+NMk4KvsFx6T31zo21I7sq/7B/Z1+4/Sq9EdGtLH7LpShEfvqmdz8MQxa6K4RYGj/GIqMoogrLre7qyJ2t93t+NBtPc5d8hU=
